#share {
  display: flex;
  gap: 10px;
}

.share-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #555;
  transition: background 0.3s;
}

.share-btn svg {
  width: 20px;
  height: 20px;
}

.share-facebook {
  background-color: #3b5998;
}
.share-twitter {
  background-color: #1da1f2;
}
.share-telegram {
  background-color: #0088cc;
}

.share-btn:hover {
  opacity: 0.8;
}
