<form class="forms">
  @@h2
  <small >Оставьте заявку и мы свяжемся с вами в течение 5 минут в рабочее время с 10:00 до 18:00 c пн-пт.</small>

  <div class="form-group pt-3">
    <label for="nameClientTop">Ваше имя:</label>
    <input type="text" class="form-control" id="nameClientTop" placeholder="Введите ваше имя" name="name" required>
  </div>

  <div class="form-group">
    <label for="phoneClientTop">Ваш телефон:</label>
    <input type="text"                   
            class="form-control" 
            id="phoneClientTop" 
            placeholder="Введите ваше телефон" 
            name="phone" 
            required>
  </div>

  <button class="btn @@btnClass w-100">Отправить</button>
  <input type="hidden" name="formname" value="@@formName">

</form>     