<div class="language-switcher">
  <div class="dropdown dropleft">
    <button
      class="btn btn-sm btn-outline-primary dropdown-toggle"
      type="button"
      id="languageDropdown"
      data-toggle="dropdown">
      <span id="currentLang">{{ lang }}</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="index.html" data-lang="ru">English</a>
      <a class="dropdown-item" href="index-uk.html" data-lang="en">Українська</a>
      <a class="dropdown-item" href="index-ru.html" data-lang="uk">Русский</a>
    </div>
  </div>
</div>