<div class="language-switcher">
  <div class="dropdown">
    <button class="btn btn-sm btn-outline-primary dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown">
      <span id="currentLang">@@lang</span>
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="index.html" data-lang="ru">Русский</a>
      <a class="dropdown-item" href="index-en.html" data-lang="en">English</a>
      <a class="dropdown-item" href="index-uk.html" data-lang="uk">Українська</a>
    </div>
  </div>
</div>