<section id="about">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 col-sm-12" data-aos="fade-right">
        <h2 class="mb-5">Бурение скважин на воду в Воронеже и области</h2> 
        
        <p>
          Мы предлагаем бурение скважин в Воронеже по приемлемым ценам. За время продуктивной работы наши специалисты накопили огромный опыт выполнения буровых работ в разных гидрогеологических условиях. Это дает возможность браться за работы серьезного уровня сложности и успешно завершать их.
        </p>

        <p>
          В зависимости от пожеланий наших клиентов мы бурим традиционные или артезианские скважины, а также устанавливаем насосное оборудование.
        </p>

        <p>
          <a href="#request" class="btn btn-outline-primary" role="button">Оставить заявку</a>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 pb-4 h-100 text-center" data-aos="fade" data-aos-delay="100">
        <img id="aboutImage" src="assets/img/about.jpg" alt="Изображение машины">
      </div>
    </div>
  </div>
</section>