<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12" data-aos="fade-right">
        <h2 class="mb-5">{{ t.about.title }}</h2>
        <p>
          {{ t.about.description_1 }}
        </p>
        <p>
          {{ t.about.description_2 }}
        </p>
        <p>
          <a href="#request" class="btn btn-outline-primary" role="button">{{ t.about.cta }}</a>
        </p>
      </div>
      <div class="col-md-6 col-sm-12 pb-4 mh-100 text-center" data-aos="fade" data-aos-delay="100">
        <img id="aboutImage" src="assets/img/about.jpg" alt="car">
      </div>
    </div>
  </div>
</section>