<div class="footer">
  <div>
    @@include('../components/wave.html')
  </div>
  
  <footer class="container"> 
    <div class="row">
      <div class="col-md-4">
        
        
        <p class="col-heading">@@t.footer.share_heading</p>
        
      </div>

      <div class="col-md-4">
        <ul class="footer-menu">
          <li class="col-heading">@@t.footer.sections_heading</li>
          <li><a href="#about">@@t.nav.about</a></li>
          <li><a href="#service">@@t.nav.services</a></li> 
          <li><a href="#object">@@t.nav.objects</a></li>  
          <li><a href="#reviews">@@t.nav.reviews</a></li>  
          <li><a href="#request">@@t.nav.request</a></li>             
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="footer-menu">
          <li class="col-heading">@@t.footer.contacts_heading</li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-mail" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="mailto:nedra36rus@mail.ru">nedra36rus@mail.ru</a>
          </li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-phone" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="tel:+79204226422">+7 (920) 422-64-22</a>
          </li>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-phone" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            <a href="tel:2297171">229-71-71</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>