<header class="masthead text-white">

  <div class="container vertical-center">
    <div class="row vertical-center">
      <div class="col-lg-12" data-aos="fade-right">
        <h1>Бурение скважин под ключ в Воронеже</h1>
        <ul>
          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            Бесплатная консультация и выезд специалиста
          </li>

          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            С каждым заказчиком составляем договор и выдаем паспорт на скважину
          </li>

          <li>
            <span> 
              <svg width="1em" height="1em">
                <use xlink:href="#svg-check" x="0" y="0" fill="currentColor"></use>
              </svg>
            </span>
            Предоставляем гарантию на работы и материалы до 5 лет!
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>