<section id="reviews"  class=" h-auto">

  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-3" >
        <h2>@@t.reviews.title</h2>
      </div>
    </div>
  </div>

   <div class="pb-5">
			<div class="owl-carousel">
				
				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>@@t.reviews.tatyana_tarasova_name</h3>
								<p>@@t.reviews.tatyana_tarasova_text</p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>@@t.reviews.ruslan_parhomenko_name</h3>
								<p>@@t.reviews.ruslan_parhomenko_text</p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								

								<h3>@@t.reviews.evgeniy_nikolaevich_name</h3>
								<p>@@t.reviews.evgeniy_nikolaevich_text</p>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

</section>