<section id="reviews"  class=" h-auto">

  <div class="container"> 
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-3" >
        <h2>Отзывы клиентов</h2>
      </div>
    </div>
  </div>

   <div class="pb-5">
			<div class="owl-carousel">
				
				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>Татьяна Тарасова</h3>
								<p>Недавно решила пробурить скважину на воду, в интернете нашла пару фирм по бурению скважин, всем позвонила и остановилась на этом сайте. Мне понравилось то, что всё объяснили, да и цена на бурение скважины не высокая у них. Специалисты приехали в договоренное время и за 9 часов пробурили скважину. Я была рада, что так быстро!!! Дом не забрызгали, он остался чистым, ответили на все мои, возможно, смешные вопросы, объяснили как использовать скважину. Благодарю Вас ребята за очень быструю и качественную работу.</p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								
								<h3>Руслан Пархоменко</h3>
								<p>Работа по скважине проделана 1-быстро, 2-очень качественно (хоть условия были не из лёгких - труднодоступное место где другие буровые не могли заехать). Я уже даже и не думал что будет вода в таком месте. В результате - пользуемся водой уже не первый месяц и спасибо за Ваши консультации по поддержанию работоспособности оборудования.  </p>

							</div>

						</div>

					</div>
				</div>

				<div class="slide">
					<div class="container">
						
						<div class="row justify-content-center">
							
							<div class="col-lg-10">
								

								<h3>Евгений Николаевич</h3>
								<p>Все работы выполнили за 2 дня. Сумма осталась неизменной как изначально и договаривались. Скважина - 82 метра. Пользуемся уже пол года и довольны. Нареканий на цену, качество работы и результат - не имею. Спасибо, буду советовать Вас как профи!</p>

							</div>

						</div>

					</div>
				</div>

			</div>

		</div>

</section>